<?php defined('SYSPATH') or die('No direct script access.');

class Cron_{{timestamp}} {

	public function execute()
	{
		/*
		$new_lines = array
		(
			'group' => array
			(
				'task' => array
				(
					'command'     => '* * * * * echo "new crontab lines go here"',
					'description' => 'Optional description',
				),
			),
		);

		return $new_lines;
		*/
	}

}